@import url('https://fonts.googleapis.com/css?family=Lora');


/* Pagină Login */

body#login {
  background: url('../images/bg-biserica.jpg');
}

a {color:#4374B9;}

.btn-group-lg > .btn, .btn-lg {
  border-radius: 10px;
}


.linkuri_login_form {margin-top:45px;}
.linkuri_login_form p {margin:0;}


.home-wrapper button, .form-wrapper.auth button {
  background: #4374B9;
  color: white;
}

.form-wrapper input {margin-bottom:23px;}

.form-wrapper.auth .form-title {
  color: #4374B9;
  font-size: 20px;
  margin-bottom: 38px;
}

.form-control::placeholder {
  color: #7081B9;
  opacity: 1;
  text-align: center;
  font-size: 15px;
}

.toate_campurile {font-size:14px!Important; font-weight:normal;}
/* Pagina admin */


.wrapper {align-items: stretch; height:100%;}
.zona-principala { font-family: 'Poppins', sans-serif; min-height: 100%!important; height: auto !important;}
 div.logo img, .login img {max-width:100%;}
 div.logo {text-align: center;}
 
div.titlu p {color:#4374B9}

.preot {
  font-size: 17px; margin:0;
}

.parohie {
  font-size: 24px;
  font-weight: bold;
  margin-bottom:10px;
}

 

.setari a {display:inline-block; margin-right:10px; color:#AAA; font-size:15px;}
.setari a:hover {color:red;}

.zona-principala .contoare a > div {
  background: #FFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px -2px 17px -3px #c7c7c7;
  text-align: center;
}
.zona-principala div.contoare a {display:inline-block}
.contor:hover {
  box-shadow: 2px -2px 17px -3px #007bff !important;
}

/* culori Urmează în calendar */

 

.urmeaza-in-calendar  {background:#F5FAFF;}

.urmeaza-cununie {background:#EFD641} 
.urmeaza-spovedanie {background:#E41E26} 
.urmeaza-botez {background:#3498DB} 
.urmeaza-sfestanie {background:#BAD850} 
.urmeaza-parastas {background:#FF9D33} 

.urmeaza-in-calendar p span, .inscris_la_slujba {
  padding: 2px 7px;
  border-radius: 4px;
  color: #FFF;
  font-size: 14px;
  margin-right: 8px;
}
.urmeaza-in-calendar span.nume{
  color: #AFAFAF;
  margin-left: -7px;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 28px;
  display: inline-block;
}
.calendar {background:#FFF;border: 5px solid #F5FAFF;}

#month {max-width:100px}
#year {max-width:89px}

/* Ultimele programari */

.ultimele-programari .table > thead:nth-child(1) > tr:nth-child(1) {color:#303E67; background:#F1F5FA;border:1px solid #EAF0F7; font-weight:bold;}
.ultimele-programari, .zile-stabilite {
  font-size:14px;
}
.ultimele-programari .input-group-text {
    font-size: 14px;
    background-color: #F1F5FA;
}

 /* programari botezuri */
.ultimele-programari .select2-container .select2-selection--single {
    height: 38px;
}

.ultimele-programari #select2-tara-jj-container {color: #ced4da important;}
.select2-container--default .select2-selection--single {border: 1px solid #ced4da!important;}

.ultimele-programari .btn {font-size:14px;}

.ultimele-programari .table > :not(:first-child) {border-top:none!important;}
.ultimele-programari .table {color:#7286A2; font-size:14px;}
.table tr.clickable-row:hover {background:#fafafa;cursor:pointer;}

.ultimele-programari .nume, .ziua, .participare_slujbe .nume {font-weight: bold; font-size:14px; text-transform: capitalize; color:#4374B9;}

.in-asteptare {background-color:rgba(100,129,245, 0.2); color:#1C6CF9}
.acceptata {background-color:rgba(30,202,123, 0.2); color:#1ECA7B;}
.respinsa {background-color:rgba(255,51,51, 0.2); color:#FF0000;}
.detalii {background-color:rgba(255,204,62, 0.2); color:#C68900;}

span.status {font-size:11px; display:inline-block;width:fit-content; padding:2px 5px; border-radius: 6px;text-align:center;}

.ultimele-programari a.sterge > i {color:red;margin-right:10px;font-size:16px;}
.ultimele-programari tr.clickable-row > td > a.sterge > i:hover {color:coral;margin-right:10px;}
.ultimele-programari tr.clickable-row > td > a.accepta > i {color:green; font-size:16px}
.ultimele-programari tr.clickable-row > td > a.accepta > i:hover {color:greenyellow }

/* calendar cu slujbe */ 

.legenda {  }

.legenda > div {
  display: inline-block;
  width: fit-content;
  border-radius: 4px;
  color: white;
  padding: 1px 9px;
  margin-right: 2px;
}

/* Pomelnic */

.pomelnic .input-group-text {width:200px;}
div.filtre .form-control {display:inline-block!important; width: unset; }

/* Registru botezuri & cununii */

.pagination {font-size:12px;}
.pagination .page-link {color: #4374B9;}

.pagination .page-item.active .page-link {
    background-color: #4374B9;
    border-color: #4374B9;
}

/* Rezervare unică */

.wrapper-rezervare-unica {background:white; border-radius:4px}
.wrapper-rezervare-unica i {color:#4374B9;font-size:12px;margin:0 10px;}
.wrapper-rezervare-unica .nume {color:#4374B9;font-weight: 600; font-size:18px; text-transform: uppercase;}
.rosu {color:Red!important; font-color:red;}
.orange  {color:orange!important;}
.verde {color:green!important}
.albastru-inchis {color:#4374B9}
p.butoane a {color:#9DA6C8;font-size:14px }
p.butoane a:hover {color:#4374B9;}
p.butoane i {margin:0 0 0 20px; font-size:16px}

.wrapper-rezervare-unica .input-group-text {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color: #4374B9;
  background-color: #F1F5FA;
  border: 1px solid #ced4da;
  border-radius: .25rem;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
 
}

.wrapper-rezervare-unica .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  border: 1px solid #4374B9;
  border-radius: 4px;
}

.wrapper-rezervare-unica .col-form-label {
  color: #4374B9;
  font-size: 14px;
  font-weight: bold;
}

.btn.salveaza {
  padding: 5px 2px;
  font-size: 14px;
  color: #9DA6C8;
  margin-left:-4px;
}

/* ------------------------------*/

/* Zile stabilite*/

.zile-stabilite .col-sm-12{max-width:800px; font-size:14px;}
.calendar-frontend {max-width:600px; font-size:14px;}

.btn-danger:hover {
  color: #FFF;
  background-color: #dc3545;
  border-color: #dc3545;
  cursor: default !important;
}

.red {color:#dc3545}
.badge {font-weight: normal;}

div.capcalendar {
  background: #FFF;
  padding: 16px 0 0 0;
}

 /* Edit rezervare */ 

 .edit-foto {
  border: 1px solid #4374B9;
  border-radius: 4px;
  padding:10px;
  margin:20px 0;
 }

/* Programul slujbelor */ 
.programul-slujbelor .table {color:#000; overflow-x: auto!important;}
.programul-slujbelor .table tr > td {border:none}
tr.subliniat {border-top:2px solid #EAF0F7;}

.table > tbody > tr > td > select, .table > tbody > tr > td > input, .table > tbody > tr > td > textarea  {font-size:14px!important;}
ul.programe-salvate li {list-style-type: disc;}
li.badge {font-size:1em}


 /*----------------------*/

#dispari {
  color: #fff;
  background-color: #198754!important;
  border-color: #198754!important;
  padding: 5px 10px!important;
  border-radius:10px!important;
}
 
a.logo:after {content:none!important;}
.loginlink {width:100%; margin-bottom:30px;}
.albastru {color:0d6efd;}

.h1, h1.titlu, h2.titlu {font-size:1.4em; margin-bottom:20px;}
:link {text-decoration: none!important;}
li { list-style-type: none; }

.alert li{
  list-style-type: disc;
  margin: 0 10px;
  font-size: 14px;
}

.form-wrapper {
  margin: 0 auto;
  font-family: 'Lora', serif;
  font-size: 1.09em;
  max-width:325px;
  padding:30px;
}

.form-wrapper.login {
  margin-top: 3vw;
  padding: 2rem;
  border-radius: 5px;
}
.form-wrapper p { font-size: .8em; text-align: center; }
.form-control:focus { box-shadow: none; }
.form-wrapper {
  background:white;
  -webkit-box-shadow: 0px 1px 12px 3px rgba(0,0,0,0.15); 
  box-shadow: 0px 1px 12px 3px rgba(0,0,0,0.15);
  border-radius: 5px;
  padding: 25px 15px 0px 15px;
}

.parohia {background:seashell!important}

.home-wrapper {
  margin-top: 150px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #80CED7;
}


.mb-3 {margin: 0 36px;}
.rezerva {margin-top:20px;}
.albastru {color:#007bff}

.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-append > .btn, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-prepend > .input-group-text {
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10px;
  border: 1px solid #CCC;
}

h3 {font-size: 1.5rem;}
.btn-group-lg > .btn, .btn-lg {font-size: 1rem;}

.email-verificat {display:block; margin:20px 0 0 10px; font-size:12px; color:#777;}


/* Tabel */

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  border-radius:5px 5px 0 0 ;
  overflow: hidden;
}

  
.styled-table thead tr {
  background-color: #007bff;
  color: #ffffff;
  text-align: left;
}

.styled-table .albastru {font-weight:bold;}
tr.clickable-row:hover > td > span.albastru {color:#FFF;}  
tr.clickable-row > td > a.btn-danger:hover {background:#ee4d5d; cursor:pointer!important; border:2px solid #FFF}

.styled-table tr:hover, .styled-table tbody tr:nth-of-type(even):hover {background:#007bff; color:#FFF; cursor:pointer;}

.styled-table th,
.styled-table td {
  padding: 8px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #007bff;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #007bff;
}

/* Select2 */

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #7081B9 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: -6%;
  margin-left: -6px;
  margin-top: 5px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #7081B9;
  line-height: 28px;
  font-weight:normal;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 10px;
  text-align: center;
  color: #7081B9;
  height: 40px;
  font-size: 15px;
  padding-top: 5px;
}

.select2-results__options {font-size: 15px;}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 16px;
}

form.parohie .form-control {text-align: center;}

/* tabel rezervare */

.tabel-rezervare {font-size:14px}
.tabel-rezervare p {color:#000; background: #F1F5FA; line-height:25px;}

.tabel-rezervare img {max-height:100px;}

.tabel-rezervare.view .cap {
  background:white;
  color: #4374B9;
  padding: 7px 15px;
  border-radius: 4px 0 0 4px;
  margin-right: 10px;
  font-weight: bold;
  width:250px;
  display: inline-block;
}

span.cap.imagine {padding:45px 15px!important}
.stanga {margin-left:20px;}

#butoane {margin-bottom:20px;}


/* Calendar luat de pe W3 */

.disc {list-style: disc;}
ul {list-style-type: none;padding:0}
ol.lista li {list-style-type: disc;}
body {font-family: Georgia, sans-serif;min-width:340px;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}


/* Weekdays (Sun-Sat) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  font-weight: bold;;
}

.weekdays li {
  display: inline-block;
  width: 13.1%;
  text-align: center;
}


.calendar-day {font-size:18px;}

/* Days (1-31) */
.days {
  padding: 10px 0;
  margin: 0;
}



.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.7%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}


/* ---------- Sidebar ---------- */ 

 /* The side navigation menu */

 /* Fixed sidenav, full height */
 .sidenav {
  z-index: 1;
  width: 265px;
  margin-top:30px;
}
a.nav-link, #navbarSupportedContent > ul > li.nav-item.dropdown.show > div > a.dropdown-item  {color:#4374B9; font-size:18px}
#navbarSupportedContent > ul {flex-direction: column; }

 
#navbarSupportedContent > ul {background:#FFF}

.navbar-dark .navbar-nav .nav-link, #navbarDropdown {color: #4374B9;}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover 
  {color:red;}

.dropdown-menu {
  border: none;
}



.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: red;
}

.navbar-brand  {margin-left:15px;}

.registru {margin-left:20px;}
.registru a {margin-bottom:10px}


.potir {background:url('../images/potir-negru.png') no-repeat left center !important; color:#4374B9; padding-left:40px!important}
.membri {background:url('../images/membri.png') no-repeat left center !important; color:#4374B9;padding-left:40px!important}
.program {background:url('../images/potir-negru.png') no-repeat left center !important; color:#4374B9;padding-left:40px!important}
.program:hover, button.program.active {background:url('../images/potir-alb.png') no-repeat left center #4374B9 !important;;padding-left:40px!important}

.programari {background:url('../images/ceas-negru.png') no-repeat left center !important; color:#4374B9;padding-left:40px!important}
.programari:hover, button.programari.active {background:url('../images/ceas-alb.png') no-repeat 7px 3px #4374B9 !important;}


.zile {background:url('../images/ceas-negru.png') no-repeat left center !important; color:#4374B9;padding-left:40px!important}
.zile:hover, button.zile.active {background:url('../images/ceas-alb.png') no-repeat 5px center #4374B9 !important;}

a.botezuri {background:url('../images/botezuri.png') no-repeat left center; ;padding-left:40px!important}
a.prima-pagina {background:url('../images/cruce.png') no-repeat left center; ;padding-left:40px!important}
a.cununii {background:url('../images/cununii.png') no-repeat left center;padding-left:40px!important}
a.spovedanii {background:url('../images/spovedanii.png') no-repeat left center;padding-left:40px!important}
a.sfestanii {background:url('../images/sfestanii.png') no-repeat left center;padding-left:40px!important}
a.parastase {background:url('../images/parastase.png') no-repeat left center;padding-left:40px!important}
a.participare-slujbe {background:url('../images/participare-slujbe.png') no-repeat left center;padding-left:40px!important}
a.rugaciuni {background:url('../images/rugaciuni.png') no-repeat left center;padding-left:40px!important}
a.pomelnic {background:url('../images/pomelnic.png') no-repeat left center;padding-left:40px!important}
a.info {background:url('../images/info.png') no-repeat left center;padding-left:40px!important}
a.calendar {background:url('../images/monitor.png') no-repeat left center;padding-left:40px!important}

ul.dropdown-container > li {list-style-type: none;}

.sidenav.admin ul.dropdown-container > li > a {
  padding-left: 15px;
  background: url('../images/cerc.png') no-repeat left center;
  padding: 7px 8px 8px 25px;
}
ul.dropdown-container {
  margin-left: 16px;
  margin-top: 0px;
  margin-bottom: 0;
}

/* Style the sidenav links and the dropdown button */
.sidenav a {
  padding: 12px 8px 6px 45px;
  text-decoration: none;
  font-size: 17px;
  color: #4374B9;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover {color:red;}

.dropdown-btn {
  padding: 6px 8px 6px 45px;
  background:none;
  text-decoration: none;
  font-size: 17px;
  color: #4374B9;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.dropdown-btn:hover {
  color: #fff;
  background: #4374B9;
  border-radius: 4px;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #4374B9;
  color: white;
  border-radius: 4px;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 30px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
} 

/* mesaje intre preot si parintii copilului */

#zone_mesaje {
  padding: 10px;
  border: 9px solid #EFEFEF;
  border-radius: 10px;
  margin: 10px 0;
}
ul#zone_mesaje li {padding:20px;}
ul#zone_mesaje li:nth-child(odd) {background: #EFEFEF; }
#zone_mesaje p {background:none!important; border:none!important;}

/* Pagina calendar complet */ 

form.calendar-complet #month,  form.calendar-complet #year {width:150px!important;}
form.calendar-complet .sageti {font-size:20px;}
form.calendar-complet span.sageti a {color:red;}
form.calendar-complet .btn {margin-left:5px!important;}

table.calendar-complet tr > td {border:none}
table.calendar-complet tr.subliniat {border-top:2px solid #EAF0F7;}

/* Pagina participare slujbe */

.inscris_la_slujba {background:#BAD850;padding:1px 5px!important;}
.inscrie_te .btn {padding:1px 5px;}

/* Pagina înregistrare parohie */ 

form.parohie select.form-control {
  /* height: calc(2.25rem + 2px); */
  border: 1px solid #CCC;
  border-radius: 10px;
  text-align: center;
  color: #7081B9;
  font-size: 15px;
  padding:.5rem 1rem;
}



@media print {


.noprint {visibility: hidden;}
#butoane, #butoane * {visibility:hidden}

.tabel-rezervare, .tabel-rezervare * {visibility: visible;}

  .tabel-rezervare, .print {
    position:absolute;
    top:0px;
    left:0px;
  }

  .tabel-rezervare p {margin:10px; border:1px solid #000;}
  .tabel-rezervare p span {background:none;}
 

 
  .tabel-rezervare.view .cap {width:180px; font-weight:bold; border:1px solid #000; margin-right:10px;color:#000}
.stanga {margin-left:20px;}
  h5 {font-size:25px;margin:10px;}
 
}


/* Anunțuri */

ul.anunt {
  display: flex;
  flex-wrap: wrap;
  margin-left:-10px;
}

ul.anunt li {padding:20px; margin:10px; width:200px; height:250px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border-radius: 5px; }
div.urmeaza ul.anunt li {width:100%; height:100%;margin:0; box-shadow: none; padding:0 10px;}
ul.anunt a {color:#000;}
ul.anunt li .titlu-anunt {
  color: #4374B9;
  line-height: 20px;
  margin-bottom: 7px;
}
ul.anunt li .continut {color:#AAA!important; line-height:18px; font-size:14px;word-break: break-all;}
ul.anunt li .data {font-size:12px;color:#AAA!important; }

.zile_rezervate {
  background:#EFEFEF;
  color:#007bff;
  padding:5px;
  font-size:16px;
}


table.rezervare-unica img {max-width:200px;}
table.rezervare-unica tbody .evident-date {border-top:none!important; word-break: break-all;}
.evident {width:30%!important;  color:#4374B9}
.evident-date {width:70%!important;}