
@media screen and (max-width: 575px) {
    
    p.parohie  {font-size:20px}
    .urmeaza-in-calendar, .calendar {padding:5%}
 
    p.parohie  {font-size:20px}

 


  }

@media screen and (min-width: 576px) {
    
   
    .urmeaza-in-calendar, .calendar {padding:5%}
 
    
  }

@media screen and (max-width: 768px) {
    
  .rezervari {margin-top:2em}

  }

@media screen and (min-width: 768px) {
    
    .urmeaza-in-calendar, .calendar {padding:5%}
    .zile-stabilite {padding:25px}
  }

@media screen and (min-width: 992px) {

    .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      flex-direction: column;
    }
    #navbarSupportedContent > ul > li.nav-item.dropdown.show > div {box-shadow: 2px 4px 11px #ccc; padding:15px;}
    
  }

  @media screen and (max-width: 992px) {

   .navbar {background:#4374b9}
    .logo img {max-width:200px!important}
    button.navbar-toggler {margin-right:22px; padding: 0.25rem 0.30rem;}
    .navbar-dark .navbar-toggler-icon {background-image: url('../images/menu.png');}
    .navbar-dark .navbar-toggler {
      color: #FFF;
      background: red;
  }



  }

@media screen and (min-width: 1200px) {
    


  }

@media screen and (min-width: 1400px) {
    


  }