
@media screen and (max-width: 575px) {
    
    p.parohie  {font-size:20px}
    .urmeaza-in-calendar, .calendar {padding:5%}
 
    p.parohie  {font-size:20px}

    .pomelnic .input-group-text {
      max-width: 170px;
    }
    .explicatie {margin-top:20px}

    .zona-principala {padding-top:0!important}
    .titlu {margin-top:25px;}
    .header {display:none;}
    #month {max-width: 110px;}

    .acceptaRespinge {position:fixed; bottom:0; width: -webkit-fill-available; margin-right:5px;}
    .acceptaRespinge .col {background:#4374b9; color:#FFF; padding:10px;  margin:0 5px; border-radius: 5px;}
    .acceptaRespinge .col a {color:#FFF; }
    .accepta i {color:#FFF; font-size:initial}
  }

@media screen and (min-width: 576px) {
    .urmeaza-in-calendar, .calendar {padding:5%}
  }

@media screen and (max-width: 768px) {
    
  .rezervari {margin-top:2em}

  
  div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    text-align: left!important;
}

  #example_filter {margin:5px 0 0 -12px}

  #example_wrapper input.form-control {max-width:130px;}

  }

@media screen and (max-width:992px) {
 
  .navbar-toggler {margin-right: 20px;}

}

@media screen and (min-width: 768px) {
    
    .urmeaza-in-calendar, .calendar {padding:5%}
    .zile-stabilite {padding:25px}
  }

@media screen and (min-width: 992px) {

    .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      flex-direction: column;
    }
    #navbarSupportedContent > ul > li.nav-item.dropdown.show > div {box-shadow: 2px 4px 11px #ccc; padding:15px;}

    
  }

  @media screen and (max-width: 992px) {

   .navbar {background:#4374b9}
    .logo img {max-width:200px!important}
    button.navbar-toggler {margin-right:22px; padding: 0.25rem 0.30rem;}
    .navbar-dark .navbar-toggler-icon {background-image: url('../images/menu.png');}
    .navbar-dark .navbar-toggler {
      color: #FFF;
      background: red;
  }



  }

@media screen and (min-width: 1200px) {
    


  }

@media screen and (min-width: 1400px) {
    


  }

div.container-fluid > div > div.col-lg-3.sidebar-admin > div > div:nth-child(2) > nav > a > img {max-width:200px;}